---
import GithubIcon from "@assets/icons/GithubIcon.astro";
import LinkIcon from "@assets/icons/LinkIcon.astro";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

interface Props {
  id?: string;
  title: string;
  tools: { logo: string; alt: string }[];
  image?: string;
  description: string;
  codeLink: string;
  previewLink?: string;
}

const { id, title, tools, image, description, codeLink, previewLink } =
  Astro.props;
---

<div
  class="flex flex-wrap gap-1 md:gap-0 bg-paper-light dark:bg-paper-dark p-0 md:p-8 border border-slate-200 dark:border-[#484848] space-x-5 rounded"
  transition:animate={fade({ duration: "0.4s" })}
>
  <div class="w-full p-4 sm:w-2/6 sm:p-0">
    <Image
      transition:name={`${id}-image`}
      class="object-cover w-full h-full max-w-80"
      src={"/" + (image ?? "no-img.png")}
      alt={title}
      loading="lazy"
      width="50"
      height="50"
    />
  </div>

  <div class="flex-1 flex justify-between flex-col">
    <div>
      <div
        class="font-serif font-bold text-black dark:text-white text-lg"
        transition:name={`${id}-project-title`}
      >
        {title}
      </div>
      <div class="mt-2 flex flex-wrap gap-5">
        {
          tools.map((s) => (
            <div class="group w-10 h-10 border-2 relative rounded-md border-slate-200 dark:border-[#484848] shadow-md hover:scale-110 hover:grayscale">
              <span
                class="group-hover:opacity-100 transition-opacity bg-gray-800 px-1 text-sm text-gray-100 rounded-md absolute left-1/2 
            -translate-x-1/2 translate-y-full opacity-0 m-4 mx-auto w-fit"
              >
                {s.alt}
              </span>
              <Image
                class="rounded-md absolute inset-0 m-auto"
                src={"/" + s.logo}
                alt={s.alt.toString()}
                loading="eager"
                width="30"
                height="30"
              />
            </div>
          ))
        }
      </div>
    </div>
    <div class="mt-3">
      {description}
    </div>
    <div class="mt-4">
      <ul class="flex gap-5">
        <li
          class="bg-slate-200 dark:bg-gray-900 hover:bg-primary-dark px-4 py-2 rounded-md"
        >
          <a class="flex gap-2" href={codeLink} target="_blank">
            <GithubIcon class="fill-black dark:fill-white size-6" />
            Code
          </a>
        </li>
        {
          previewLink && (
            <li class="bg-slate-200 dark:bg-gray-900 hover:bg-primary-dark px-4 py-2 rounded-md">
              <a class="flex gap-2" href={previewLink}>
                <LinkIcon class="fill-black dark:fill-white size-4" />
                Preview
              </a>
            </li>
          )
        }
      </ul>
    </div>

    <slot name="card-link" />
  </div>
</div>
