---
import Section from "@components/ui/Section.astro";
import { getI18n } from "@i18n/index";
import ProjectItem from "./ProjectItem.astro";

const translate = getI18n({ locale: Astro.currentLocale });
---

<Section id="projects" title={translate["UI"]["nav.projects"]}>
  <div class="flex flex-col gap-5">
    {
      translate["PROYECTS"].ITEMS.map((p) => (
        <ProjectItem
          id={p.ID}
          title={p.TITLE}
          description={p.SUMARY}
          image={p.IMAGE}
          tools={p.TOOLS}
          codeLink={p.REPO}
          previewLink={p.PREVIEW}
        >
          <div slot="card-link" class="my-5 sm:my-5">
            <a
              class="text-primary-light dark:text-primary-dark hover:text-primary-dark/70 hover:dark:text-primary-dark/70"
              href={`/project/${p.ID}`}
            >
              See more...
            </a>
          </div>
        </ProjectItem>
      ))
    }
  </div>
</Section>
