---
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

interface Props {
  id: string;
  title: string;
  company: string;
  companyLogo?: string;
  dateRange: string;
  description: string;
  skills: { logo?: string; alt?: string }[];
  isLeftPosition?: boolean;
}

const {
  id,
  title,
  company,
  companyLogo,
  dateRange,
  description,
  skills,
  isLeftPosition,
} = Astro.props;
---

<div
  class:list={["relative flex z-30 animate-on-scroll", { "justify-end": isLeftPosition }]}
  transition:animate={fade({ duration: "0.4s" })}
>
  <div
    class:list={[
      "p-3 md:p-8 border border-slate-200 dark:border-[#484848] w-full lg:w-[47%] rounded-md",
      { "order-2": isLeftPosition },
    ]}
  >
    <div class="flex flex-wrap gap-1">
      <div class="flex-1 flex gap-3">
        <Image
          class="size-12"
          src={"/" + (companyLogo ?? "no-img.png")}
          alt={company}
          loading="eager"
          width="50"
          height="50"
        />

        <div class="flex-1 block min-w-40">
          <div
            class="font-serif font-bold text-black dark:text-white text-lg"
            transition:name={`${id}-TITLE`}
          >
            {title}
          </div>
          <div class="uppercase" transition:name={`${id}-COMPANY`}>
            {company}
          </div>
        </div>
      </div>

      <div
        class="lg:hidden text-primary-light dark:text-primary-dark font-serif font-bold text-lg"
      >
        {dateRange}
      </div>
    </div>
    <div class="mt-1 md:mt-5">
      {description}
    </div>

    <div class="mt-4 flex gap-5">
      {
        skills.map((s) => (
          <div class="group w-10 h-10 border-2 relative rounded-md border-slate-200 dark:border-[#484848] shadow-md hover:scale-110 hover:grayscale">
            <Image
              class="rounded-md absolute inset-0 m-auto"
              src={"/" + s.logo}
              alt={s.alt ? s.alt.toString() : ""}
              loading="eager"
              width="30"
              height="30"
            />
          </div>
        ))
      }
    </div>
    <div class="mt-5">
      <a
        class="text-primary-light dark:text-primary-dark hover:text-primary-dark/70 hover:dark:text-primary-dark/70"
        href={`/experience/${id}`}>See more...</a
      >
    </div>
  </div>

  <span
    class="hidden lg:block w-5 h-5 rotate-45 border border-black z-10 dark:border-white absolute inset-0 m-auto"
  ></span>
  <span
    class="hidden lg:block w-4 h-4 rotate-45 bg-black z-10 dark:bg-white absolute inset-0 m-auto"
  ></span>

  <div class="hidden lg:flex w-2/5 justify-center items-center">
    <div
      class="text-primary-light dark:text-primary-dark font-serif font-bold text-lg"
    >
      {dateRange}
    </div>
  </div>
</div>
